<div class="d-flex flex-shrink-1 my-1" style="height: 60px;">
  <div class="me-1">
    <% if user_simple.profile_image.attached? && user_simple.profile_image_exists? %>
      <%= image_tag user_simple.image_url(:ogp), class: "img-thumbnail object-fit-fill profile_image_mini" %>
    <% else %>
      <%= image_tag "person-fill.svg", class: "img-thumbnail object-fit-fill profile_image_mini", style: "color: cornflowerblue;" %>
    <% end %>
  </div>
  <div class="">
    <div class="">
      <div class="me-1">
        <%= link_to user_path(user_simple), class: "link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" do %>
          <span class="fw-bold"><%= user_simple.nickname %></span>
        <% end %>
      </div>
      <div class="me-1">
        @<%= user_simple.username %>
      </div>
    </div>
  </div>
</div>
