<div class="col-lg-6 offset-lg-3">
  <%= form_with model: @user, param: @user.username do |f| %>
    <div id="post_error_messages">
      <%= render 'shared/error_messages', object: f.object %>
    </div>
    <div class="">
      <%= f.label :profile_image, type: "button" do %>
        <% if current_user.profile_image.attached? && current_user.profile_image_exists? %>
          <%= image_tag current_user.image_url(:ogp), class: "profile_image_middle flex-shrink-1" %>
        <% else %>
          <%= image_tag "person-fill.svg", class: "profile_image_middle flex-shrink-1 object-fit-contain" %>
        <% end %>
        <%= f.file_field :profile_image, class: "uploader", style: 'display:none', onchange: "profileImageChange();" %>
      <% end %>
    </div>
    <div class="field">
      <%= f.label :nickname %>
      <%= f.text_field :nickname, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :username, class: "form-label" %>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend3">@</span>
        <%= f.text_field :username, class: "form-control", id: "user_username", maxlength: 16, aria: { describedby: "inputGroupPrepend3" }, onkeyup: "searchUsableUsername(this.value)" %>
      </div>
      <div id="searchUsableUsernameResult"></div>
    </div>
    <div class="field">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control", rows: 10, onkeyup: "countValueLengthContent(this.value);" %>
      <div class="text-end" id="countValueLength">
        <% if f.object.description.nil? %>
          140
        <% else %>
          <%= 140 - f.object.description.length%>
        <% end %>
      </div>
    </div>

    <%= f.submit class: "btn btn-primary", id: "userEditSubmitButton" %>
  <% end %>

  <hr class="my-4">

  <%= button_to user_path(current_user.username), method: :delete, class: "btn btn-danger", onclick: "return doubleDeleteAccountConfirm();" do %>
    <i class="bi bi-person-fill-x"></i> アカウントを削除する
  <% end %>
</div>