<header>
  <% if user_signed_in? %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <%= link_to root_path, class: "navbar-brand" do %>
          <i class="bi bi-trash3-fill"></i> <%= I18n.t("title") %>
        <% end %>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-reference="parent">
              <% if current_user.profile_image.attached? && current_user.profile_image_exists? %>
                <%= image_tag current_user.image_url(:ogp), class: "img-thumbnail object-fit-fill profile_image_petit" %>
              <% else %>
                <%= image_tag "person-fill.svg", class: "img-thumbnail object-fit-fill profile_image_petit", style: "color: cornflowerblue;" %>
              <% end %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <%= button_to "ログアウト", destroy_user_session_path, class: "dropdown-item", method: :delete %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  <% else %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <%= link_to root_path, class: "navbar-brand" do %>
          <i class="bi bi-trash3-fill"></i> <%= I18n.t("title") %>
        <% end %>
      </div>
    </nav>
  <% end %>
</header>