<div class="border mb-2 p-1 <%= post.id %>">
  <div class="">
    <div class="d-flex justify-content-between">
      <div class="d-flex flex-shrink-1 me-1" style="height: 70px;">
        <% if post.user.profile_image.attached? && post.user.profile_image_exists? %>
          <%= image_tag post.user.image_url(:ogp), class: "img-thumbnail img-responsive me-1" %>
        <% else %>
          <i class="bi-person-fill img-thumbnail img-responsive" style="font-size: 2rem; color: cornflowerblue;" class="me-1"></i>
        <% end %>
        <div class="">
          <div class="d-flex flex-wrap">
            <div class="me-1">
              <%= link_to user_path(post.user), class: "link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover" do %>
                <span class="fw-bold"><%= post.user.nickname %></span>
              <% end %>
            </div>
            <div class="me-1">
              @<%= post.user.username %>
            </div>
          </div>
          <% if post.replied_id.present? %>
            返信先:
            <% if (rep_post = post.replied).present? %>
              <%= link_to "@#{rep_post.user.username}", user_path(rep_post.user.username) %>
            <% else %>
              削除済
            <% end %>
          <% end %>
        </div>
      </div>
      <% if current_user == post.user %>
        <div class="me-1">
          <a href="#" id="post_<%= post.id %>" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi-three-dots" style="color: gray;"></i> 
          </a>
          <div class="dropdown-menu" aria-labelledby="post_<%= post.id %>">
            <%= button_to "投稿を削除", post_path(post, path: request.fullpath), method: :delete, data: { turbo_confirm: '削除しますか？' }, class: "dropdown-item" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="w-100 p-1">
      <div><%= auto_link(post.content) %></div>
      <% if post.post_images.attached? %>
        <div class="pi_img_area">
          <% length = post.post_images.length %>
          <% post.post_images.each.with_index(1) do |image, i| %>
            <div class="pe-1 pb-1 pi_<%= i %>_<%= length %>">
              <%= link_to post_image_path(post.id, image.blob_id), data: { turbo_stream: true } do %>
                <%= image_tag image, class: "pi_img rounded-3 object-fit-cover" %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
      <%= tag.div id: dom_id(post, :reactions_detail) do %>
        <%= render "reactions/reactions_detail", post: post %>
      <% end %>
    </div>
    <div class="p-1 me-1">
      <i class="bi-alarm"></i> <%= l(post.created_at, format: :long) %>
    </div>
  </div>
</div>
