<!DOCTYPE html>
<html>
  <head>
    <title><%= I18n.t("title") %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="position-relative">
    <%= render 'shared/header' %>
    <div class="container">
      <%= tag.div id: "flash" do %>
        <%= render "shared/flash" %>
      <% end %>

      <%= yield %>
    </div>
    <% if current_user.present? && (!defined?(@post_create) || @post_create) %>
      <%= link_to new_post_path, data: { turbo_stream: true }, class: "position-fixed", style: "bottom: 60px; right: 30px;" do %>
        <i class="bi bi-plus-circle-fill" style="font-size: 4rem; color: cornflowerblue;"></i>
      <% end %>
      <div class="modal fade" id="commonModal" tabindex="-1" aria-labelledby="commonModalLabel" aria-hidden="true"></div>
    <% end %>
    <%= render 'shared/footer' %>
  </body>
</html>
